* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear:both;
}

.container {
  width: 65%;
  margin: 0 auto;
}

/* INIZIO HEADER-TOP */

.header-top {
  background-color: #f4f9fd;
  height: 72.5px;
  line-height: 72.5px;
  border-bottom: 1px solid #cbd6e2;
}

.header-top li,
.header-top i,
.header-top a,
.header-bottom li,
.header-bottom i,
.header-bottom a,
.header-bottom img {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

.header-top-col-left,
.header-bottom-col-left,
.header-top-col-right,
.header-bottom-col-right {
  float: left;
  width: 50%;
}

.header-top-col-left a {
  color: #33475b;
  font-size: 14px;
  font-weight: 500;
  padding: 0 5px;
}

.header-top-col-right a {
  color: #33475b;
  font-size: 14px;
  font-weight: 500;
  padding: 0 5px;
}

.header-top-col-right ul,
.header-bottom-col-right {
  text-align: right;
}
.header-top-col-left ul {
  list-style: none;
}

.header-top-col-left li {
  padding-right: 20px;
  margin-right: 10px;
}


/* FINE HEADER-TOP */

/* INIZIO HEADER-BOTTOM */

.header-bottom {
  background-color: #ffffff;
  height: 80px;
  line-height: 80px;
}


.jumbotron {
  background-color: #fff3ef;
  height: 610px;
}
.jumbotron-bottom {
  background-color: #afebe4;
  height: 80px;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}
