* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear:both;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

/* INIZIO HEADER-TOP E HEADER-BOTTOM */

.header-top {
  background-color: #f4f9fd;
  height: 72.5px;
  line-height: 22.5px;
  border-bottom: 1px solid #cbd6e2;
}

.header-top li,
.header-top i,
.header-top a,
.header-bottom li,
.header-bottom i,
.header-bottom a,
.header-bottom img {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

.header-top-col-left,
.header-bottom-col-left,
.header-top-col-right,
.header-bottom-col-right {
  float: left;
  width: 50%;
}

.header-top-col-left a {
  color: #33475b;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 5px;
  margin: 25px 0;
}

.header-top-col-left a:nth-child(2) {
  padding: 0 10px 0 10px;
  border-right: 3px solid #cbd6e2;
}

.header-top-col-left i:nth-child(1) {
  color: #7c98b6;
}

.fa-chevron-down{
  padding-left: 10px;
  color: #7c98b6;
  margin-right: 10px;
}


.header-top-col-right a {
  font-size: 14px;
  font-weight: 400;
  margin: 20px 0;
}


.fa-search {
  color: #04a5be;
  margin-right: 20px;
}


.header-top-col-right ul,
.header-bottom-col-right {
  text-align: right;
}
.header-top-col-left ul {
  list-style: none;
}

.header-top-col-left li {
  margin-right: 10px;
}

.header-bottom {
  background-color: #ffffff;
  height: 80px;
  line-height: 80px;
}

.header-bottom-col-right a{
  font-size: 16px;
  font-weight: 600;
  color: #33475b;
  padding-left: 20px;
}

.header-bottom-col-right .fa-chevron-down:last-of-type{
  margin-right: 0 !important;
}

/* FINE HEADER-TOP E HEADER-BOTTOM */

/* INIZIO BOTTONI */
.button-bold {
  background-color: #ff7a59;
  border-radius: 5px;
  padding: 28px 35px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.button-login {
  background-color: #ffffff;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  padding: 5px 15px;
  color: #ff7a59;
  margin-right: 20px !important;
}
.button-login:hover {
  background-color: #fff8f6;
}

.button-get-free {
  background-color: #ff7a59;
  border-radius: 5px;
  padding: 5px 15px;
  color: #ffffff;
}

.button-service {
  background-color: #ff7a59;
  border-radius: 5px;
  padding: 18px 25px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
/* FINE BOTTONI */

/* INIZIO JUMBOTRON */
.jumbotron {
  background-color: #fff3ef;
  height: 610px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 100% 2%;
}

.jumbotron-container {
  position: relative;
  height: 610px;
  width: 50%;
}

.text-buttom {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.text-buttom h1 {
  color: #33475b;
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 20px;
}

.text-buttom p,
.service-top p {
  color: #33475b;
  font-weight: 400;
  margin-bottom: 60px;
}

.text-buttom p:nth-child(4) {
  font-size: 12px;
  margin-top: 60px;
}

.jumbotron-bottom {
  background-color: #afebe4;
  height: 80px;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}
/* FINE JUMBOTRON */

.service {
  background-color: #f4f9fd;
  padding-bottom: 40px;
}
.service-top {
  width: 790px;
  padding: 100px 0 20px 0;
  text-align: center;
}

.service-top img {
  width: 280px;
  margin-bottom: 20px;
}

.service-top h2 {
  color: #33475b;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 20px;
}

.service-container,
.service-container-uno,
.service-container-due,
.service-container-tre {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 11px #eaf0f6;
  padding: 30px;
  margin-bottom: 30px;
}

.service-col-left {
  float: left;
  width: 40%;
  text-align: center;
  padding: 50px;
}

.service-col-left img {
  width: 100%;
  height: 100px;
  margin-bottom: 70px;
}

.service-col-right {
  float: left;
  width: 60%;
  margin: 50px 0;
}

.service-col-right h3,
.service-container-uno h3,
.service-container-due h3,
.service-container-tre h3  {
  color: #33475b;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.service-col-right p,
.service-container-uno p,
.service-container-due p,
.service-container-tre p  {
  color: #33475b;
  font-weight: 400;
  margin-bottom: 30px;
}

.service-col-right h4,
.service-container-uno h4,
.service-container-due h4,
.service-container-tre h4  {
  color: #33475b;
  font-size: 12px;
  font-weight: 900;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.service-hr-left {
  float: left;
  width: 30%;
}
.service-hr-right {
  float: left;
  width: 70%;
  margin-top: 6px;
}
.service-hr-right hr,
.service-container-uno hr,
.service-container-due hr,
.service-container-tre hr {
  border-bottom: 1px solid #d0d4d8;
  border-top: none;
  margin-bottom: 30px;
}


.fa-check-circle {
  color: #fe775a;
  padding-right: 10px;
}

.service-list li {
  list-style: none;
  display:inline-block;
  padding: 15px 15px 0 0;
}

.service-container-uno,
.service-container-due,
.service-container-tre {
  float: left;
  width: 31.66%;
}

.service-container-due {
  margin: 0 2.5%;
}
.service-tre-col img {
  width: 100%;
  height: 140px;
  margin-bottom: 30px;
}

.service-list-tre-col li {
  list-style: none;
  padding: 5px 5px 0 0;
  font-weight: 600;
}


.service-container-uno h4,
.service-container-uno h3,
.service-container-uno hr,
.service-container-due h4,
.service-container-due h3,
.service-container-due hr,
.service-container-tre h4,
.service-container-tre h3,
.service-container-tre hr,
.button-service  {
  text-align: center
}


.cont {
 margin-top: 40px;
 margin-bottom: 20px;
 text-align: center;
}


/* INIZIO  SEZIONE LEARN-GROW */
.learn-grow {
  background-image: linear-gradient(to bottom left, #00bda5, #00a4bc);
  height: 500px;
}

.learn-grow-color h2,
.learn-grow-color p {
  color: #ffffff !important;
}
